.username {
  font-weight: 550;
  color: black;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
}

.location {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 12px;
}
