<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-avatar item-start id="avatar">
      <img [src]="user.picture.medium" />
    </ion-avatar>

    <ion-text id="posts-p">
      <h6 id="post-count">{{posts}}</h6>
      <p id="posts">posts</p>
    </ion-text>
    <ion-text id="Followers-p">
      <h6 id="post-count">{{followers}}</h6>
      <p id="posts">Followers</p>
    </ion-text>
    <ion-text id="Following-p">
      <h6 id="post-count">{{following}}</h6>
      <p id="posts">Following</p>
    </ion-text>
  </ion-item>

  <ion-text>
    <h6 id="username">{{user.login.username}}</h6>
    <p id="location">{{user.location.country}}</p>
  </ion-text>

  <ion-segment value="home" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="home">
      <ion-icon name="grid-outline"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="tagged">
      <ion-icon name="file-tray-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="grid">
    <ion-row>
      <ion-col size="4" size-md *ngFor="let image of Images" class="column">
        <img class="image" [src]="image.download_url" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
