#stories-image {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-top: 8px;
}
#avatar-img {
  border: 3px solid;
  border-color: #77acf1;
}

ion-segment {
  z-index: 10;
  background: white;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: #000000d2;
  z-index: 10;
  position: absolute;
}

.fade {
  transition: 0.4s linear all;
  opacity: 0;
  z-index: -1;
}

.fade-in {
  transition: 0.4s linear all;
  opacity: 1;
}
