<ion-header>
  <ion-toolbar>
    <ion-title (click)="ScrollToTop()">Instagram</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="fabDisplay($event)">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullMin="100" pullMax="200">
    <ion-refresher-content 
      pullingIcon="arrow-down-outline" 
      pullingText="Pull to refresh" 
      refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="parent-grid">

    <ion-row class="stories-row">
      <ion-col class="main-column" size-sm="4" size-md="4"  size-lg="4" size-xl="4">
        <ion-slides [options]="set">
          <ion-slide *ngFor="let item of combined">
            <ion-avatar id="stories-image" (click)="storiesImage(item)" >
              <img id="avatar-img" [src]="item.user.picture.thumbnail" />
            </ion-avatar>
          </ion-slide> 
        </ion-slides>
      </ion-col>

    </ion-row>

    <ion-row class="cards-row">
      <ion-col class="main-column" size-sm="4" size-md="6"  size-lg="6" size-xl="12">
        <app-feed *ngFor="let feed of combined" [feed]="feed"></app-feed>
      </ion-col>
    </ion-row>

    
  </ion-grid>

  <ion-fab *ngIf="isShown" slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button (click)="ScrollToTop()" size="small">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="moreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> 


<!-- 
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullMin="100" pullMax="200">
    <ion-refresher-content 
      pullingIcon="arrow-down-outline" 
      pullingText="Pull to refresh" 
      refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>


  <ion-slides [options]="set">
    <ion-slide *ngFor="let item of combined">
      <ion-avatar id="stories-image" (click)="storiesImage(item)" >
        <img id="avatar-img" [src]="item.user.picture.thumbnail" />
      </ion-avatar>
    </ion-slide> 
  </ion-slides>

  <app-feed *ngFor="let feed of combined" [feed]="feed"></app-feed>


  <ion-fab *ngIf="isShown" slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button (click)="ScrollToTop()" size="small">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="moreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>

<div class="backdrop" [ngClass]="backdropVisible ? 'fade-in' : 'fade'" tappable (click)="closeDrawer()"></div>
<app-drawer (openStateChanged)="toggleBackdrop($event)"></app-drawer>

