#stories-image {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-top: 8px;
}
#avatar-img {
  border: 3px solid;
  border-color: #77acf1;
}

ion-segment{
  z-index: 10;
  background: white;
}
