.username {
    color: black;
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: 550;
    font-size: 15px;
    line-height: 1;
  }
  
  .location {
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 13px;
  }

  .activated {
    // color: red !important;
    fill: red;
  }
  
  .notActivated {
  
    fill: #F9F9F9;
  }