<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="parent-grid">
    <ion-row class="cards-row">
      <ion-col class="main-column" size-sm="6" size-md="6"  size-lg="6" size-xl="6">
        
        <div *ngFor="let user of users">
  
          <ion-item lines="none">
      
            <ion-avatar (click)="profile(user)" item-start>
              <img [src]="user.picture.thumbnail" />
            </ion-avatar>
            
            <ion-text (click)="profile(user)">
              <h6 class="username">{{user.name.first}} {{user.name.last}}</h6>
              <p class="location">{{user.login.username}}</p>
            </ion-text>
      
            <ion-checkbox (ionChange)="onChange(user,$event)" slot="end" color="primary" [(ngModel)]="user.isChecked"></ion-checkbox>
      
          </ion-item>
      
        </div>
        <div *ngIf="usersToSend.length > 0">
          <ion-button  type="submit" expand="block">Send </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div *ngFor="let user of users">

    <ion-item lines="none">

      <ion-avatar (click)="profile(user)" item-start>
        <img [src]="user.picture.thumbnail" />
      </ion-avatar>
      
      <ion-text (click)="profile(user)">
        <h6 class="username">{{user.name.first}} {{user.name.last}}</h6>
        <p class="location">{{user.login.username}}</p>
      </ion-text>

      <ion-checkbox (ionChange)="onChange(user,$event)" slot="end" color="primary" [(ngModel)]="user.isChecked"></ion-checkbox>

    </ion-item>

  </div>

  <div *ngIf="usersToSend.length > 0">
    <ion-button  type="submit" expand="block">Send </ion-button>
  </div> -->
</ion-content>

